*{
    margin:0px;
    padding:0px
}
/*
a,h1,h2,h3,#root,#link{
    font-size: 100%;
}
*/
a{
text-decoration: none;
font-weight: bold;
color:#000000;
}
a:hover{
color:#A52A2A;
}
html{
    width:100%;
    height:100%;
    /*  font-size: 100%;*/
}
body{
    width:100%;
    height:100%;
    margin:0 auto;
    position:relative;
    background:#E6E8FA;

    font-family:adelle;
    overflow-y:scroll;
     font-size: 1em;
    font-family:adelle;
    overflow-y:scroll;
    font-size: 1em;
}
.box { float: left; }
#root { max-width: 100%; margin: 0 auto;
        height:100%;
        background: url("../img/tp_apre_fundo.png");
          background-repeat: no-repeat;
          -moz-background-size: 100% 100%;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;

	  
}
#hander { width: 100%; }


/* Laptop/Tablet (1024px) */
@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
	#hander { width: 100%; }
}

/* Tablet Portrait (768px) */
@media only screen and (min-width: 321px) and (max-width: 1024px) and (orientation: portrait) {
	#hander { width: 100%; }
}

/* Phone Landscape (480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
	#hander { width: 100%; }
}

/* Phone Portrait (320px) */
@media only screen and (max-width: 320px) {
	#hander { width: 100%; }
}

/* iPad 3 & 4 Landscape */
@media only screen and (width: 481px) and (width: 1024px) and (orientation: landscape) {
	#hander { width: 100%; }
}

/* iPad 3 & 4 Portrait */
@media only screen and (width: 481px) and (width: 1024px) and (orientation: portrait) {
	#hander { width: 100%; }
}

/* iPhone 2G-3GS Landscape */
@media only screen and (width: 481px) and (width: 480px) and (orientation: landscape) {
	#hander { width: 100%; }
}

/* iPhone 2G-3Gs Portrait */
@media only screen and (width: 481px) and (width: 480px) and (orientation: portrait) {
	#hander { width: 100%; }
}

/* iPhone 4/4S Landscape */
@media only screen and (width: 569px) and (width: 480px) and (orientation: landscape) {
	#hander { width: 100%; }
}

/* iPhone 4/4S Portrait */
@media only screen and (width: 569px) and (width: 480px) and (orientation: portrait) {
	#hander { width: 100%; }
}

/* iPhone 5 Landscape */
@media only screen and (width: px) and (width: 568px) and (orientation: landscape) {
	#hander { width: 100%; }
}

/* iPhone 5 Portrait */
@media only screen and (width: px) and (width: 568px) and (orientation: portrait) {
	#hander { width: 100%; }
}

